In [1]:
import numpy

In [2]:
import pandas as pd

In [3]:
import sklearn

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [7]:
from sklearn.metrics import accuracy_score

In [8]:
from sklearn.metrics import confusion_matrix

In [9]:
my_data_frame=pd.read_csv('news.csv')

In [10]:
my_data_frame.shape

(6335, 4)

In [11]:
my_data_frame.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [12]:
my_data_frame.drop(["title"],axis=1,inplace=True)

In [13]:
my_data_frame.head()

   Unnamed: 0                                               text label
0        8476  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1       10294  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2        3608  U.S. Secretary of State John F. Kerry said Mon...  REAL
3       10142  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4         875  It's primary day in New York and front-runners...  REAL

In [14]:
labels=my_data_frame.label

In [15]:
labels.head()

0    FAKE
1    FAKE
2    REAL
3    FAKE
4    REAL
Name: label, dtype: object

In [16]:
x_train,x_test,y_train,y_test=train_test_split(my_data_frame['text'], labels, test_size=0.2, random_state=7)

In [17]:
my_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)

In [18]:
tfidf_train=my_vectorizer.fit_transform(x_train)

In [19]:
tfidf_test=my_vectorizer.transform(x_test)

In [20]:
my_classifier=PassiveAggressiveClassifier(max_iter=50)

In [21]:
my_classifier.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [22]:
y_prediction=my_classifier.predict(tfidf_test)

In [23]:
score=accuracy_score(y_test,y_prediction)

In [24]:
print(f'Accuracy achieved is : {round(score*100,2)}%')

Accuracy achieved is : 92.66%

In [25]:
confusion_matrix(y_test,y_prediction, labels=['FAKE','REAL'])

array([[587,  51],
       [ 42, 587]], dtype=int64)

In [26]:
def fake_news_detection(news):
    input_news = [news]
    vectorized_news = my_vectorizer.transform(input_news)
    prediction = my_classifier.predict(vectorized_news)
    print(prediction)

In [27]:
fake_news_detection("""Go to Article President Barack Obama has been 
campaigning hard for the woman who is supposedly going to extend his legacy 
four more years. The only problem with stumping for Hillary Clinton, however, 
is sheâ€™s not exactly a candidate easy to get too enthused about.  """)

['FAKE']

In [28]:
my_data_frame.head()

   Unnamed: 0                                               text label
0        8476  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1       10294  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2        3608  U.S. Secretary of State John F. Kerry said Mon...  REAL
3       10142  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4         875  It's primary day in New York and front-runners...  REAL

In [29]:
my_data_frame.head()

   Unnamed: 0                                               text label
0        8476  Daniel Greenfield, a Shillman Journalism Fello...  FAKE
1       10294  Google Pinterest Digg Linkedin Reddit Stumbleu...  FAKE
2        3608  U.S. Secretary of State John F. Kerry said Mon...  REAL
3       10142  — Kaydee King (@KaydeeKing) November 9, 2016 T...  FAKE
4         875  It's primary day in New York and front-runners...  REAL

In [30]:

fake_news_detection("""U.S. Secretary of State John F. 
kerry said Mondaythat he will stop in Paris later this week, 
amid criticism that no top american officials attended
 sundays unity marchagainst terrorism  """)

['REAL']